/* reset CSS */
/* reset CSS */
/* reset CSS */
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}

body {
  line-height: 1;
}

ol,
ul {
  list-style: none;
}

blockquote,
q {
  quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
  content: '';
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* reset CSS end*/
/* reset CSS end*/
/* reset CSS end*/
:root {
  --snow-man-white: #EEEEEE;
  --snow-man-eye-white: #FFFFFF;
  --snow-man-eye-black: #000000;
  --snow-man-hand: #DDA0DD;
  --background-black: #222222;
  --font-color: #EEEEEE;
}

* {
  box-sizing: border-box;
}

body {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: var(--background-black);
}

/* snowman*/
.container {
  width: 500px;
  height: 500px;
  border: 1px solid black;
}

.wrapper {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100%;
  height: 100%;
}

/* push-up 動畫 */
.push-up {
  animation-duration: 3s;
  animation-name: push-up;
  animation-iteration-count: 1;
  animation-direction: normal;
}

@keyframes push-up {
  0% {
    transform: rotate(0deg) translateX(0%);
  }

  20% {
    transform: rotate(90deg) translateY(-20%) translateX(0%);
  }

  40% {
    transform: rotate(90deg) translateY(-15%) translateX(-10%);
  }

  60% {
    transform: rotate(90deg) translateY(-10%) translateX(0%);
  }

  80% {
    transform: rotate(90deg) translateY(-5%) translateX(-10%);
  }

  100% {
    transform: rotate(0deg) translateX(0%);
  }
}

.push-up-hand-wrapper {
  animation-duration: 3s;
  animation-name: push-up-hand-wrapper;
  animation-iteration-count: 1;
  animation-direction: normal;
}

@keyframes push-up-hand-wrapper {
  0% {
    transform: scale(1, 1);
    transform-origin: 0 50%;
  }

  10% {
    transform: scale(1, 1);
  }

  15% {
    transform: scale(0.5, 1);
  }

  20% {
    transform: scale(1, 1);
  }

  50% {
    transform: scale(1, 1);
  }

  55% {
    transform: scale(0.5, 1);
  }

  60% {
    transform: scale(1, 1);
  }

  100% {
    transform: scale(1, 1);
    transform-origin: 0 50%;
  }
}

/* snowman head */
.head-wrapper {
  width: 30%;
  height: 30%;
  border-radius: 50%;
  background-color: var(--snow-man-white);
}

.eyes-wrapper {
  position: relative;
  display: flex;
  justify-content: center;
  top: 40%;
  width: 100%;
  height: 20%;
}

.eye-wrapper {
  position: relative;
  width: 30%;
  height: 150%;
  margin: 0 2%;
  border-radius: 50%;
  background-color: var(--snow-man-eye-black);
}

/* 水汪汪眼 */
.eye-ball-wrapper {
  position: relative;
  top: 15%;
  left: 15%;
  width: 50%;
  height: 50%;
  border-radius: 50%;
  background-color: var(--snow-man-eye-white);
}

.eye-ball-wrapper:after {
  position: relative;
  content: '';
  display: block;
  top: 95%;
  left: 85%;
  width: 40%;
  height: 40%;
  border-radius: 50%;
  background-color: var(--snow-man-eye-white);
}

/* eyes-sparkle 動畫 */
.eyes-sparkle {
  animation-duration: 0.25s;
  animation-name: eyes-sparkle;
  animation-iteration-count: 3;
  animation-direction: normal;
}

.eyes-sparkle:after {
  background-color: var(--snow-man-white);
}

@keyframes eyes-sparkle {
  0% {
    width: 50%;
    height: 50%;
    transform-origin: 0 0;
    transform: rotate(0deg);
  }

  15% {
    transform: rotate(-10deg);
  }

  50% {
    width: 80%;
    height: 80%;
    transform-origin: 0 0;
    transform: rotate(10deg);
  }

  85% {
    transform: rotate(-10deg);
  }

  100% {
    width: 50%;
    height: 50%;
    transform-origin: 0 0;
    transform: rotate(0deg);
  }
}

/* snowman body */
/* 頭大身小 */
.body-wrapper {
  position: relative;
  top: -5%;
  width: 22%;
  height: 22%;
  border-radius: 50%;
  background-color: var(--snow-man-white);
}

.body-wrapper::after {
  position: relative;
  top: 85%;
  left: 50%;
  display: block;
  content: '';
  width: 71.414%;
  height: calc(15% + 1px);
  transform: translateX(-50%);
  border-radius: 0 0 100% 100%;
  background-color: var(--background-black);
}

/* 圍巾 img */
.scarf-img-wrapper {
  position: absolute;
  top: -10%;
  left: 13%;
  width: 75%;
  height: 75%;
  transform: translateX(-75%);
  transform: scaleX(167%);
}

.scarf-img-wrapper img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.hand-wrapper {
  position: absolute;
  top: 30%;
  left: 90%;
  display: block;
  content: '';
  width: 100%;
  height: 100%;
}

.arm {
  position: absolute;
  top: 8%;
  left: -3%;
  display: block;
  content: '';
  width: 45%;
  height: 15%;
  border-radius: 50%;
  background-color: var(--snow-man-white);
  transform: rotate(-30deg);
  transform-origin: 0 50%;
}

/* arm-wave 動畫 */
.arm-wave {
  animation-duration: 0.7s;
  animation-name: arm-wave;
  animation-iteration-count: 3;
  animation-direction: normal;
}

@keyframes arm-wave {
  0% {
    transform-origin: 0 50%;
    transform: rotate(-30deg);
  }

  50% {
    transform-origin: 0 50%;
    transform: rotate(10deg);
  }

  100% {
    transform-origin: 0 50%;
    transform: rotate(-30deg);
  }
}

.hand {
  position: absolute;
  top: 50%;
  left: 55%;
  display: block;
  content: '';
  width: 75%;
  height: 225%;
  border-radius: 50%;
  background-color: var(--snow-man-hand);
  transform: translateY(-50%);
}

/* snowman feet */
.feet-wrapper {
  position: relative;
  top: -10%;
  display: none;
  flex-direction: row;
  justify-content: center;
  width: 100%;
  height: 5%;
  z-index: 11;
  visibility: hidden;
}

.foot-wrapper {
  width: 13%;
  height: 100%;
  margin: 0 -1%;
  border: 2px solid var(--background-black);
  border-radius: 45%;
  background-color: var(--snow-man-white);
}

/* two-steps 動畫 */
.two-steps {
  animation-duration: 1s;
  animation-name: two-steps;
  animation-iteration-count: 1;
  animation-direction: 1;
}

@keyframes two-steps {
  0% {
    transform: translateX(0%);
  }

  25% {
    transform: translateX(10%);
  }

  50% {
    transform: translateX(0%);
  }

  75% {
    transform: translateX(-10%);
  }

  100% {
    transform: translateX(0%);
  }
}

.two-steps-feet-wrapper {
  display: flex;
  visibility: visible;
}

.two-steps-left-foot {
  animation-duration: 1s;
  animation-name: two-steps-left-foot;
  animation-iteration-count: 1;
  animation-direction: 1;
}

@keyframes two-steps-left-foot {
  0% {
    transform: translateX(0%);
  }

  10% {
    transform: translateX(0%);
  }

  25% {
    transform: translateX(20%);
  }

  50% {
    transform: translateX(0%);
  }

  75% {
    transform: translateX(-35%);
  }

  85% {
    transform: translateX(-35%);
  }

  100% {
    transform: translateX(0%);
  }
}

.two-steps-right-foot {
  animation-duration: 1s;
  animation-name: two-steps-right-foot;
  animation-iteration-count: 1;
  animation-direction: 1;
}

@keyframes two-steps-right-foot {
  0% {
    transform: translateX(0%);
  }

  25% {
    transform: translateX(35%);
  }

  35% {
    transform: translateX(35%);
  }

  50% {
    transform: translateX(0%);
  }

  65% {
    transform: translateX(0%);
  }

  75% {
    transform: translateX(-20%);
  }

  100% {
    transform: translateX(0%);
  }
}

/* control bar */
.control-btn {
  padding: 5px;
  border-radius: 5px;
  background-color: tan;
  font-size: 1.2rem;
  font-weight: 400;
  cursor: pointer;
}

.run-btn {
  padding: 5px;
  border-radius: 5px;
  background-color: seagreen;
  font-size: 1.2rem;
  font-weight: 400;
  cursor: pointer;
}

/* timeline */
.timeline-container {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  width: 100%;
  min-height: 200px;
  padding: 15px 15%;
  background-color: tan;
  border-top: 5px solid #111111;
  border-bottom: 5px solid #111111;
}

.timeline-container span {
  height: 2.5rem;
  padding: 3px 15px;
  margin: 2px 3px;
  border-radius: 5px;
  background-color: saddlebrown;
  color: var(--font-color);
  line-height: 2rem;
  font-size: 1.2rem;
  font-weight: 400;
}

/* usage directions */
.usage-directions-wrapper {
  color: var(--font-color);
  line-height: 2rem;
  font-size: 1.2rem;
  font-weight: 400;
}

.usage-directions-wrapper h4 {
  font-size: 1.5rem;
}

.timeline-btn {
  background-color: saddlebrown;
  padding: 5px;
  color: var(--font-color);
  border-radius: 5px;
  font-size: 1.2rem;
  font-weight: 400;
  cursor: pointer;
}

footer {
  color: var(--font-color);
}

footer a {
  color: var(--font-color);
}